<div class="jumbotron">
    <h1>QHive</h1>
    <p class="lead">QHive is a cloud system accessible through REST API that makes it easy to share agricutural data. You can use it to build services that reach
        a broad range of clients, including browsers and mobile devices. QHive is an ideal platform for building applications that work with Ag-Data</p>
    <p><a href="http://quickbird.uk" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>API reference</h2>
        <p>Quickbird Qhive is an Agricutural Data Hub. This is the User-facing gateway, and corresponding API reference. If you need help getting to grips with the API, let us know</p>
        <p><a class="btn btn-default" href="/Help">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Did you know...</h2>
        <p>This backend already powers our mobile app, and you can check it out in the appstore</p>
        <p><a class="btn btn-default" href="http://quickbird.uk">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>It's a platform!</h2>
        <p>If you have some Ag data that you want to share, and don't want to deal with access control, database and billing, give us a shout</p>
        <p><a class="btn btn-default" href="http://quickbird.uk">Learn more &raquo;</a></p>
    </div>
</div>
